In [1]:
!python --version

Python 3.10.12

In [2]:
x=3
print(type(x))
print(x)

<class 'int'>
3

In [3]:
t=True
f=False
print(type(t))
print(t and f)
print(t or f)

<class 'bool'>
False
True

In [4]:
x=5
y=10
z=x+y
print("Addition of %s and %s is %s"%(x,y,z))

Addition of 5 and 10 is 15

In [5]:
x=5
y=10
z=x+y
str=("Addition of {} and {} ={}".format(x,y,z))
print(str)

Addition of 5 and 10 =15

In [6]:
fruits = ['apple', 'banana', 'cherry']
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [7]:
nums=list(range(10))
nums[2:4]=[8,9]
print(nums)

[0, 1, 8, 9, 4, 5, 6, 7, 8, 9]

In [8]:
animals=['cat','dog','monkey']
for animal in animals:
  print(animal)

cat
dog
monkey

In [9]:
animals=['cat','dog','monkey']
for idx,animal in enumerate (animals):
  print('#{}: {}'.format(idx + 1,animal))

#1: cat
#2: dog
#3: monkey

In [10]:
nums=list(range(11))
squares= []
for x in nums:
    squares.append(x**2)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [11]:
nums=list(range(11))
even_squares=[x**2 for x in nums if x%2==0]
print(even_squares)

[0, 4, 16, 36, 64, 100]